* {
	font-family: "century gothic", "微軟正黑體";
}

header {

 	position: absolute;
	top: 0%;
	height: 15%;
	width: 100%;
	background-color: #AA9988;

}

h1 {
	position: relative;
	left: 5%;
	width: 50%;
	font-size:48px;
}



div#manager {

	position: relative;
	float: right;
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: #DDDDAA;
	padding: 5px;
	text-align: center;
	right: 2.5%;
	top: 50%;
}

div#manager:hover {

	cursor: pointer;
	background-color: #AADDDD;

}

div#classTable {

	position: absolute;
	top: 20%;
	width: 40%;
	left: 2%;
	font-size: 28px;
}


div.classTable{

	margin-bottom: 10px;
}

div.Table{
	border: 2px #737D8C solid;
	overflow: auto;
}

div.item {

	position: relative;
	height:40px;
	border: 2px white groove;
	background-color: #E7E8E9;
	margin-left: 3px;
	margin-top: 2px;
	margin-right: 2px;

}

div.idClass {

	width:60%;
	position: relative;
	text-align: left;

}

div.button {

	float: right;
	margin-top:4px;
	margin-right: 5px;
}

div.button:hover {

	cursor: pointer;
	text-decoration: underline;

}
