* {
	font-family: "century gothic", "微軟正黑體";
}

header {

 	position: absolute;
	top: 0%;
	height: 15%;
	width: 99%;
	background-color: #AA9988;

}

h1 {
	position: relative;
	left: 10%;
	width: 50%;
}


div#manager {

	position: relative;
	float: right;
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: #DDDDAA;
	padding: 5px;
	text-align: center;
	right: 2.5%;
	top: 50%;
}

div#manager:hover {

	cursor: pointer;
	background-color: #AADDDD;

}

div#classTable {

	position: absolute;
	top: 30%;
	width: 20%;
	left: 20%;
}

div.classTable{

	margin-bottom: 20px;
}

div.item {

	position: relative;
	border: 1px black solid;

}

div.idClass {

	width: 60%;
	position: relative;

}

div.butten {

	float: right;

}

div.butten:hover {

	cursor: pointer;
	text-decoration: underline;

}