body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

header {

 	position: absolute;
	top: 0%;
	left: 0%;
	height: 15%;
	width: 99%;
	background-color: #AA9988;

}

h1 {
	position: relative;
	margin-left: 5%;
	width: 50%;
	font-size: 50px;
}



div#equipTable {

	position: absolute;
	top: 22%;
	left: 6%;
}

div#bluetooth_table{
	position: fixed;
	left: 950px;
	top:210px;
	width:260px;


}

div.item {

	display: table-row;
	position: relative;
	width: 100%;
	border-bottom: 1px dotted #000;

}



span.tb_cell {

	display: table-cell;
	padding: 5px;

}

.center {

	text-align: center;

}

span.btNum {

	width: 5%;

}

span.sockNum {

	width: 5%;

}

span.name {

	width: 5%;

}

span.type {

	width: 5%;
}

span.open {

	width: 	5%;
}

span.Edit {

	width: 	5%;

}

span.Edit:hover {

	cursor: pointer;
	text-decoration: underline;

}

#mask {

	z-index: 2;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	width: 	100%;
	height: 100%;
	top: 0%;
	left: 0%;

}

#mask {

	cursor: pointer;
	display: none;

}

#editPanel {

	z-index: 3;
	position: fixed;
	background-color: rgba(200,200,255,1);
	width: 30%;
	height: 30%;
	top: 30%;
	left: 30%;
	padding: 20px;
	border-radius: 20px;
	display: none;	
}

#editPanel div {

	margin-bottom: 10px;

}

#submit {

	position: absolute;
	right: 20%;

}

#submit:hover {

	cursor: pointer;
	text-decoration: underline;

}

label, input { 
	display:block; 
}

input.text { 
	margin-bottom:12px;
 	width:95%; padding: .4em;
}

fieldset { 
	padding:0;
 	border:0; 
 	margin-top:25px;
}



div#users-contain { 
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	 margin: 1em 0;
	 border-collapse: collapse;
	 width: 100%; 
}

div#users-contain table td, div#users-contain table th { 
	border: 1px solid #eee; 
	padding: .6em 10px; 
	text-align: left; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}
		
.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}

.kk{
	margin-left: 2px;
}

#bluetext{
	position: absolute;
	width: 170px;
	height: 26px;
	font-size: 14px;
	top:30px;
}

#add_blue{
	position: absolute;
	margin-left: 190px;
	top: 30px;

}

#dele_blue{
	position: absolute;
	bottom: -50px;


}