

header {

 	position: absolute;
	top: 0%;
	left: 0%;
	height: 15%;
	width: 99%;
	background-color: #AA9988;

}

h1 {
	position: relative;
	margin-left: 5%;
	width: 50%;
	font-size: 50px;
}

div#projector1{
	position: absolute;
	left: 30%;
	top:30%;
}

div.projector2{
	position: absolute;
	left: 38%;
	top: 25%;
	width: 240px;
	height: 400px;
	background-color: #BDC7C0;
	border-width:10px;
	border-style: ridge;
	border-color: #E2EBE0;
	border-radius: 20px;
}

h2{
	position: absolute;
	font-size: 25px;
	font-weight: 900;
	left: 75px;
	top: 0px;
}

.butt:hover{
	cursor: pointer;
}

#power{
	position: absolute;
	background-color: #F4341F;
	border-radius: 20px;
	width: 55px;
	height: 25px;
	left: 22px;
	top:75px;
}


#source{
	position: absolute;
	background-color: #E1EAE4;
	border-radius: 20px;
	width: 55px;
	height: 25px;
	left: 92px;
	top:75px;
}

#help{
	position: absolute;
	background-color: #E1EAE4;
	border-radius: 20px;
	width: 55px;
	height: 25px;
	left: 160px;
	top:75px;
}

#menu{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 22px;
	top:120px;
}

#up{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 92px;
	top: 120px;
}

#down{	
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 92px;
	top: 210px;
}

#esc{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 160px;
	top: 120px;
}

#vol_down{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 22px;
	top: 165px;
}

#vol_up{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 160px;
	top: 165px;
}

#enter{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 92px;
	top: 165px;
}

#color_mode{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 22px;
	top: 210px;
}

#aspect{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 160px;
	top: 210px;
}

#page_up{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 60px;
	height: 25px;
	left: 22px;
	top: 255px;
}

#page_down{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 76px;
	height: 25px;
	left: 14px;
	top: 300px;
}

#e-zoom_plus{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 65px;
	height: 25px;
	left: 88px;
	top: 255px;
}

#e-zoom_minus{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 65px;
	height: 25px;
	left: 96px;
	top: 300px;
}

#freeze{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 160px;
	top: 255px;
}

#mute{
	position: absolute;
	border-radius: 20px;
	background-color: #E1EAE4;
	width: 55px;
	height: 25px;
	left: 170px;
	top:300px;
}